---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Briefcase from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";

import { translations } from "../lang";
---

<Layout
  title="Juan Cruz Roldan | Full-Stack Web Developer"
  description="Full-stack web developer specializing in scalable, user-friendly applications. Passionate about optimizing UX and building high-performance solutions."
>
  <main class="px-4">
    <SectionContainer id="hero" class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-7" />
          <span id="work-experience-title"
            >{translations.en.experienceSection}</span
          >
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection>
          <CodeIcon class="size-7" />
          <span id="projects-title">{translations.en.projectsSection}</span>
        </TitleSection>
        <Projects />
      </SectionContainer>
    </div>
  </main>
</Layout>

<script define:vars={{ translations }}>
  const updateSectionTitles = (lang) => {
    if (translations[lang]) {
      document.getElementById("work-experience-title").textContent =
        translations[lang].experienceSection;
      document.getElementById("projects-title").textContent =
        translations[lang].projectsSection;
    }
  };

  const initialLang = document.documentElement.lang;
  updateSectionTitles(initialLang);

  document.addEventListener("DOMContentLoaded", () => {
    const currentLang = document.documentElement.lang;
    updateSectionTitles(currentLang);

    document.addEventListener("languageChanged", (e) => {
      updateSectionTitles(e.detail.lang);
    });
  });
</script>
