---
import ExperienceItem from "./ExperienceItem.astro";
import { TAGS } from "../tags";
import { translations } from "../lang";

const EXPERIENCE = [
  {
    title: "Full Stack Developer",
    company: "Taktiful",
    companyUrl: "https://www.taktify.ai/",
    startDate: translations.en.jobs.taktiful.startDate,
    endDate: translations.en.jobs.taktiful.endDate,
    description: translations.en.jobs.taktiful.description,
    tags: [
      TAGS.ANGULAR,
      TAGS.REACT,
      TAGS.ANTD,
      TAGS.BOOTSTRAP,
      TAGS.TYPESCRIPT,
      TAGS.PHP,
      TAGS.MYSQL,
      TAGS.AWS,
    ],
  },
  {
    title: "Full Stack Web Developer",
    company: "Zite",
    companyUrl: "https://zite.co/",
    startDate: translations.en.jobs.zite.startDate,
    endDate: translations.en.jobs.zite.endDate,
    description: translations.en.jobs.zite.description,
    tags: [
      TAGS.NEXT,
      TAGS.REACT,
      TAGS.SHADCNUI,
      TAGS.TAILWIND,
      TAGS.TYPESCRIPT,
      TAGS.DRIZZLE,
      TAGS.POSTGRESQL,
      TAGS.SUPABASE,
      TAGS.AZURE,
    ],
  },
  {
    title: "Marketing Web Developer",
    company: "Gainapp",
    companyUrl: "https://gainapp.com/",
    startDate: translations.en.jobs.gainapp.startDate,
    endDate: translations.en.jobs.gainapp.endDate,
    description: translations.en.jobs.gainapp.description,
    tags: [
      TAGS.GATSBY,
      TAGS.REACT,
      TAGS.TYPESCRIPT,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.SANITY,
    ],
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="experiences mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
