---
import ExperienceItem from "./ExperienceItem.astro";
import { translations } from "../lang";

const EXPERIENCE = [
  {
    title: "Full Stack Web Developer",
    company: "Taktiful",
    companyUrl: "https://www.taktify.ai/",
    startDate: translations.en.jobs.taktiful.startDate,
    endDate: translations.en.jobs.taktiful.endDate,
    description: translations.en.jobs.taktiful.description,
    techStack:
      "React, JavaScript, TypeScript, Bootstrap, jQuery, HTML, PHP, MySQL, AWS",
  },
  {
    title: "Full Stack Web Developer",
    company: "Zite",
    companyUrl: "https://zite.co/",
    startDate: translations.en.jobs.zite.startDate,
    endDate: translations.en.jobs.zite.endDate,
    description: translations.en.jobs.zite.description,
    techStack:
      "Next.js + React, Tailwind CSS, Shadcn UI, TypeScript, Drizzle ORM, Postgres, Supabase, Microsoft Azure",
  },
  {
    title: "Growth Engineer",
    company: "Gainapp",
    companyUrl: "https://gainapp.com/",
    startDate: translations.en.jobs.gainapp.startDate,
    endDate: translations.en.jobs.gainapp.endDate,
    description: translations.en.jobs.gainapp.description,
    techStack: "React, TypeScript, CSS, HTML, Gatsby, Mixpanel, Hotjar",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="experiences mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
