---
import LanguageToggle from "./LanguageToggle.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { translations } from "../lang";

const NAV_ITEMS = [
  {
    id: "home",
    label: "home",
    url: "/#hero",
  },
  {
    id: "experience",
    label: "experience",
    url: "/#experience",
  },
  {
    id: "projects",
    label: "projects",
    url: "/#projects",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      NAV_ITEMS.map((item) => (
        <a
          class="relative block px-2 py-2 transition hover:text-accent dark:hover:text-accent"
          aria-label={item.label}
          href={item.url}
          id={`nav-${item.id}`}
        >
          {translations.en.nav[item.id as keyof typeof translations.en.nav]}
        </a>
      ))
    }
    <ThemeToggle />
    <LanguageToggle />
  </nav>
</header>

<script define:vars={{ translations, NAV_ITEMS }}>
  const updateNavigation = (lang) => {
    if (translations[lang]) {
      NAV_ITEMS.forEach((item) => {
        const navElement = document.getElementById(`nav-${item.id}`);
        if (navElement) {
          navElement.textContent = translations[lang].nav[item.id];
        }
      });
    }
  };

  const initialLang = document.documentElement.lang;
  updateNavigation(initialLang);

  document.addEventListener("DOMContentLoaded", () => {
    const currentLang = document.documentElement.lang;
    updateNavigation(currentLang);

    document.addEventListener("languageChanged", (e) => {
      updateNavigation(e.detail.lang);
    });
  });

  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    navItems.forEach((item) => {
      if (item.getAttribute("aria-label") === "home") {
        item.classList.add("text-accent");
      }
    });

    const callback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-accent");
            } else {
              item.classList.remove("text-accent");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply dark:bg-gray-800/90 bg-white/50;
  }

  @keyframes nav-shadown {
    0% {
      @apply dark:bg-gray-800/0 bg-white/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style>
