---
const personalImageAlt = "Juan Cruz Roldan";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
import { translations } from "../lang";
---

<div>
  <div class="flex gap-4 mb-4 items-center">
    <img
      class="rounded-full shadow-lg size-16"
      src="/jcroldan.webp"
      alt={personalImageAlt}
    />
    <h1
      class="text-3xl font-bold tracking-tight text-gray-800 md:text-4xl lg:text-5xl dark:text-white"
    >
      <span id="greeting-text">{translations.en.greeting}</span>
      <span class="block lg:inline">Juan Cruz Roldán</span>
    </h1>
  </div>
  <p
    id="description-text"
    class="mt-6 text-md text-gray-800 dark:text-gray-300 md:text-lg lg:text-xl text-pretty"
  >
    {translations.en.description}
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://linkedin.com/in/juancruzroldan">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/juancruzroldan95">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:juancruz.roldan19@gmail.com">
      <MailIcon class="size-4" />
      juancruz.roldan19@gmail.com
    </SocialPill>
  </nav>
</div>

<script define:vars={{ translations }}>
  // The translations object is now available here from the server

  // Update text based on language
  const updateHero = (lang) => {
    document.getElementById("greeting-text").textContent =
      translations[lang].greeting;
    document.getElementById("description-text").textContent =
      translations[lang].description;
  };

  // Initialize with the current language
  const initialLang = document.documentElement.lang;
  updateHero(initialLang);

  // Listen for language changes
  document.addEventListener("DOMContentLoaded", () => {
    // Initial update
    updateHero(document.documentElement.lang);

    // Custom event listener for language changes
    document.addEventListener("languageChanged", (e) => {
      updateHero(e.detail.lang);
    });
  });
</script>
