---
const personalImageAlt = "Juan Cruz Roldan";
import { SOCIALS } from "@constants/socials";
import Socials from "./Socials.astro";
import { translations } from "../lang";
---

<div>
  <div class="flex flex-col md:flex-row gap-8 items-center md:items-start">
    <div class="flex-shrink-0">
      <img
        class="rounded-full shadow-lg size-40 object-cover"
        src="/jcroldan.webp"
        alt={personalImageAlt}
      />
    </div>
    <div class="flex flex-col gap-2 text-center md:text-left">
      <h1
        class="text-3xl font-bold tracking-tight text-gray-800 md:text-4xl dark:text-white"
      >
        <span id="greeting-text">{translations.en.greeting}</span>
        <span>Juan Cruz</span>
      </h1>
      <p
        id="description-text"
        class="text-md text-gray-800 dark:text-gray-300 md:text-lg text-pretty"
      >
        {translations.en.description}
      </p>
      {
        SOCIALS.filter((social) => social.active).length > 0 && (
          <nav>
            <Socials class="justify-center md:justify-start" />
          </nav>
        )
      }
    </div>
  </div>
</div>

<script define:vars={{ translations }}>
  // The translations object is now available here from the server

  // Update text based on language
  const updateHero = (lang) => {
    document.getElementById("greeting-text").textContent =
      translations[lang].greeting;
    document.getElementById("description-text").textContent =
      translations[lang].description;
  };

  // Initialize with the current language
  const initialLang = document.documentElement.lang;
  updateHero(initialLang);

  // Listen for language changes
  document.addEventListener("DOMContentLoaded", () => {
    // Initial update
    updateHero(document.documentElement.lang);

    // Custom event listener for language changes
    document.addEventListener("languageChanged", (e) => {
      updateHero(e.detail.lang);
    });
  });
</script>
