---
import ProjectItem from "./ProjectItem.astro";
import { TAGS } from "../tags";
import { translations } from "../lang";

const PROJECTS = [
  {
    title: "Walletly",
    description: translations.en.projects.walletly.description,
    github: "https://github.com/juancruzroldan95/wallet-signup-flow",
    deploy: "https://walletly-demo.vercel.app/",
    image: "/projects/walletly.webp",
    tags: [
      TAGS.NEXT,
      TAGS.REACT,
      TAGS.SHADCNUI,
      TAGS.TAILWIND,
      TAGS.ZOD,
      TAGS.ZUSTAND,
      TAGS.TYPESCRIPT,
      TAGS.VERCEL,
    ],
  },
  {
    title: "Buno",
    description: translations.en.projects.buno.description,
    github: "https://github.com/juancruzroldan95/buno-app",
    deploy: "https://bunoapp.vercel.app/",
    image: "/projects/buno-app.webp",
    tags: [
      TAGS.GEMINI,
      TAGS.NEXT,
      TAGS.REACT,
      TAGS.SHADCNUI,
      TAGS.TAILWIND,
      TAGS.DRIZZLE,
      TAGS.POSTGRESQL,
      TAGS.TYPESCRIPT,
      TAGS.FIREBASE,
      TAGS.VERCEL,
    ],
  },
  {
    title: "Power Button",
    description: translations.en.projects.powerbutton.description,
    github: "https://github.com/juancruzroldan95/buno-app",
    deploy: "https://power-button.vercel.app",
    image: "/projects/power-button.webp",
    tags: [
      TAGS.NEXT,
      TAGS.REACT,
      TAGS.TAILWIND,
      TAGS.TYPESCRIPT,
      TAGS.FIREBASE,
      TAGS.VERCEL,
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map((project) => (
      <article class="projects flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <ProjectItem {...project} />
      </article>
    ))
  }
</div>
